
<div class="col-md-4">
  <div class="card">
    <img
      class="card-img-top"
      src="{{this.image}}"
      alt="{{this.locationName}}"
    />
    <div class="card-body">
      <h5 class="card-title">{{this.locationName}}</h5>
      <p class="card-text">{{this.address.street}} {{this.address.houseNumber}} <br> {{this.address.zip}} Berlin</p>
      <pre><br><b>diapers available: </b>{{this.stock}}</pre>
      <a href="/location/edit/{{this._id}}">Edit</a>    
    </div>
  </div>
</div>