
<!-- Location Edit -->

<h2>Edit Location</h2>
{{#with pickUpFromDB}}
<h2>{{locationName}}</h2><br>
<img
      class="card-img-top"
      src="{{this.image}}"
      alt="{{this.locationName}}"
      style="width:400px"
    />
<form action="/location/edit/{{_id}}" method="POST">
  <label for="title"><b><br>Location details: </b></label>
  <br>
  <label for="title">Name: </label>
  <input type="text" name="title" id="title" value="{{locationName}}">
  <label for="imageLink">Image Link: </label>
  <input type="text" name="imageLink" id="imageLink" value="{{image}}">
  <label for="stock">Stock: </label>
  <input type="number" name="stock" id="stock" value="{{stock}}">
<br><br>
<label for="address"><b>Address:</b></label>
<br>
<label for="street">Street: </label>
  <input type="text" name="street" id="street" value="{{address.street}}">
  <label for="nr">House number: </label>
  <input type="number" name="nr" id="nr" value="{{address.houseNumber}}">
<label for="zip">ZIP: </label>
  <input type="number" name="zip" id="zip" value="{{address.zip}}">
<br><br>
  
<button type="submit">Update location</button>
<span>|</span> <a href="/location/delete/{{this._id}}">Delete</a>
</form>
{{/with}}